* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: #0f1b4c;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: center;
}

.btn:hover {
    opacity: 0.9;
}

/* ========== Header =============== */

.header {
    position: relative;
    background: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar .action-link {
    color: #0f1b4c;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    margin-right: 18px;
}

.navbar .action-btn {
    padding: 13px 16px;
    border-radius: 8px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.hero {
    margin-top: 130px;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01rem;
}

.hero .title {
    color: #000336;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
    margin-top: 8px;
}

.hero .desc {
    color: #5a6473;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    margin-top: 30px;
}

.hero .btn {
    width: 170px;
    height: 50px;
    margin-top: 40px;
}

.hero .info {
    width: 51%;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

.clients {
    margin-top: 122px;
    padding: 43px 0 64px ;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients p {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    color: #7d8589;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 23px;
}

.clients .logo {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .logo a {
    padding: 0 42px;
    height: 90px;
    display: inline-block;
    align-items: center;
    border-radius: 12px;
}

.clients .logo a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ======== Guides ======== */

.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    position: relative;
}

.guides .desc {
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.guides .sub-title::before {
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    position: absolute;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    top: -10px;
    left: 50%;
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.list-guide .item {
    margin: 0 70px;
    text-align: center;
}

.list-guide h3 {
    color: #3B3C45;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; 
    margin-top: 26px;
}

.list-guide .link {
    color: #0689FF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
}

.list-guide .item span {
    margin-right: 8px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}


/* === featured === */

.featured {
    margin-top: 120px;
    padding: 110px 0;
    background: #F5FAFE;
}

.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    display: flex; 
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88
}

.featured .link { 
    color: #0689FF;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 8px;
}


.featured .link .arrow {
    position: relative;
    top: -2px;
}

.featured .list .item {
    flex: 1;
    gap: 30px;

}

.featured .list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;

}

.featured .item .desc {
    color: #A3A6AB;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 11px;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 23px;
}

.featured .item .label {
    color: #4D4D52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.01em;
    margin-left: 8px;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item {
    flex: 1;
    background: #fff;
    border-radius: 12px;
}

/* === stats === */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .row {
    display: flex;
    position: relative;
}

.stats .content {
    width: 1048px;
}


.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block .image {
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
    margin-left: auto;
    display: block;
}



.stats .info {
    padding: 79px 0 0 165px;
}

.stats .img-block {
    position: relative;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    border-radius: 0px 0px 12px 12px;
    background-color: #FFF;
    padding: 45px 22px 40px;
}

.stats .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.3;
    width: 269px;
    position: relative;
}

.stats .info .desc {
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
    margin-top: 20px;
    width: 309px;
}

.stats .sub-title::before {
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: -10px;
}

.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.026;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    color: #A7A7A7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 8px;
}

.stats-trend .separate {
    height: 1.2px;
    background: #E9E9E9;
    margin-top: 25px;
}

.stats .avatar-block {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}

.stats .avatar-group {
    display: flex;
}

.stats .row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}

.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1;
}

.stats .qty-desc {
    color: #7B8087;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 22px;
}

/* subscription */

.subscription {
    margin-top: 90px;
}

.subscription .body {
    height: 370px;
    border-radius: 20px;
    background: #063183;
    display: flex;
    align-items: center;
}

.subscription .info {
    padding: 0 80px;
    max-width: 100%;
    width: 671px;
}

.subscription .sub-title {
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.subscription .desc {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 15px;
    opacity: 0.75;
}

.subscription .btn {
    border-radius: 12px;
    color: #002366;
    background: #FFF;
    margin-top: 20px;
    min-width: 151px;
    height: 50px;
}

/* Footer */

.footer {
    margin-top: 55px;
    padding: 50px 165px 58px ;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    color: #1C1C1D;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list, 
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a, 
.footer .desc {
    color: #7A7A7E;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.75rem;
}

.footer .social {
    margin-top: 40px;
    display: flex;
}

.footer .social-link {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.footer .social-link:hover {
    background-color: #b8b6b6;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .social-link +.social-link {
    margin-left: 16px;
}

.footer .copyright {
    color: #C2C2C2;
    font-size: 1.4rem;
    font-weight: 400;
}












